h1{
    font-family: 'Fredericka the Great', cursive;
    color: black;
}

body{
    background-image: url();
    text-align: center;
}
.player_name{
    width: 750px;
    background-color: crimson;
    border-radius: 40px;
    height: 200px;
}
#player1_name_input{
    width: 250px;
}
#player2_name_input{
    width: 250px;
    
}